.container {
    text-align: center;
    margin: auto;
    width: 50%;
    font-family: Verdana;
}

.header_footer {
    color: #4F8A10;
    background-color: #DFF2BF;
    text-align: center;
    margin: auto;
    width: 75%;
    border: 1px solid #D8D8D8;
    padding: 10px;
    border-radius: 5px;
    font-family: Verdana;
    font-size: 18px;
}
